header {
    height: 70px;
    border-bottom: 3px #454242 solid;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: #ed472f;
        font-size: 28px;
        display: contents;
    }
} 

    